apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: jitter-probe
spec:
  ingressClassName: traefik
  rules:
    - http:
        paths:
          - path: /metrics
            pathType: Prefix
            backend:
              service:
                name: jitter-probe
                port:
                  number: 9092
          - path: /
            pathType: Prefix
            backend:
              service:
                name: jitter-probe
                port:
                  number: 9092
